/** @format */

/* Change the antd carousel to assume the shape of its container */
.ant-carousel,
.slick-slider,
.slick-list,
.slick-track,
.slick-slide > div {
  height: 100% !important;
}

/* NOTE that we use a negative bottom here because we cannot set the padding of the carousel items */
.slick-dots {
  bottom: -35px !important;
}

/* Change the toolbar settings which we can't customize otherwise */
.apexcharts-toolbar {
  color: #000000ff !important;
  text-align: center !important;
}

/* Change the default modal styling */
.ant-modal-content {
  background-color: #272727 !important;
}

.ant-modal-header,
.ant-modal-body,
.ant-modal-footer {
  background-color: #272727 !important;
}
