/** @format */

/* Change the body margin to be 0 and the background color to black */
body {
  margin: 0;
  background-color: #272727;
}

/* Change the scrollbar look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* The scrollbar track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* The scrollbar handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 10px;
}

/* Add hover effects for the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
}
